<!doctype html>
<head>
	<title>O olho de Thundera  - Project The Eye Snake</title>
	<!-- JavaScript Bundle with Popper -->

	<!-- CSS only -->
	<link href="static/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.2.slim.min.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
  <script text="Javascript" src="static/base.js"></script>
  <script src="static/bootstrap.bundle.min.js" ></script>
	<script src="static/base.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
 <link href="static/base.css" rel="stylesheet"> 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.js" integrity="sha512-64PuQoA1/rGxeXwhWJRNZl25TjBPhQWeQ6x8h6UC54gQT7xFvTio//dLKg2MiAc3/4Tf+uoLKPzl+QuX87fssA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 
</head>

<body>

  <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="/static/eyesnake-w.svg" width="auto" height="60" class="center d-inline-block align-top white" alt="">
            <b>EyeSnake Project</b> - Alfa-release Thundera
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="#" class="nav-link text-secondary">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                Home
              </a>
            </li>
            <li>
              <a href="/dashboard" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
              </a>
            </li>
            <li>
              <a href="/busca" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                Busca
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                Clipping
              </a>
            </li>
            <li>
              <a href="/abusca" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                Busca Avançada
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
      <div class="container d-flex flex-wrap justify-content-center">
        
        <form action="/search" method="get" class="col-7 d-flex">
          <input class="form-control me-2" name="name" type="search" placeholder="Faça sua busca..." aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Busca</button>
        </form>

        <div class="col-4 text-end ">
        <a href="/starting" class="btn btn-danger">
          Olho por olho!</a>
        </div>
      </div>
    </div>
  </header>
  
   
    
        
          <div class="container" id="main">
              <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-4">Até o momento foram carregadas <b>{{ total }}</b> matérias</h2>
          <p class="lead">23 sites com base no Acre estão sendo monitorados</p>
          <hr>
          <p class="lead">Atualização recente entrou {{ materia }} matérias às {{ hora }}</p>
        </div>
      </div>  
  
  
     <div class="row">
      <div>
        <h2>Quantidade de matérias produzidas por dia</h2>
        <canvas id="myChart2"></canvas>
        <hr>
        <h2>Quantidade de matérias produzidas por veículo</h2>
        <canvas id="myChart"></canvas>

      </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{ label | safe}},
            datasets: [{
              label: '# Matérias',
              data: {{ valor | safe}},
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'x',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>

<script>
  const ctx2 = document.getElementById('myChart2');

  new Chart(ctx2, {
    type: 'bar',
    data: {
      labels: {{ datal | safe}},
      datasets: [{
        label: '# Matérias',
        data: {{ dvalor | safe}},
        borderWidth: 1
      }]
    },
    options: {
      indexAxis: 'x',
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
      </div>
  
   

</body>